 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
}

.wrapper-main {
    width: 100%;
}

.form {
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    position: absolute;
    border-radius: 20px;
    font-family: 'poppins';
    top: 50%;
    left: 50%;
    width: 80%;
    padding: 15px;
    transform: translate(-50% , -50%);
}

.choose {
    font-size: 13px;
    text-align: center;
}

.form .form-header {
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    color: dimgrey;
}

.form-selection {
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .form .form-selection button {
    margin-top: 10px;
    padding:10px;
    border-radius: 15px;
    width: 200px;
    font-family: poppins;
    font-weight: 800;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .20s ease-in;
}

.form-footer {
    text-align: center;
    font-size: 15px;
}

#html {
    border: 2px solid orangered;
    background-color: orangered;
    box-shadow: 0px 0px 10px 1px orangered;
    color: white;
}

#css {
    border: 2px solid rgb(0, 128, 248);
    background-color: rgb(0, 128, 248);
    box-shadow: 0px 0px 10px 1px rgb(0, 128, 248);
    color: white;
}

#javascript {
    border: 2px solid rgb(255, 238, 0);
    background-color: rgb(255, 238, 0);
    box-shadow: 0px 0px 10px 1px rgb(255, 238, 0);
    color: white;
}

#html:hover {
    border: 2px solid orangered;
    background-color: transparent;
    color: orangered;
    transform: scale(0.95);
}

#css:hover {
    border: 2px solid rgb(0, 128, 248);
    background-color: transparent;
    color: rgb(0, 128, 248);
    transform: scale(0.95);
}

#javascript:hover {
    border: 2px solid rgb(255, 238, 0);
    background-color: transparent;
    color: rgb(255, 238, 0);
    transform: scale(0.95);
}

/* MOBILE */

@media (width > 600px) {
    .form {
        width: 60%;
    }

    .form .form-header {
        font-size: 20px;
    }

    .choose {
        font-size: 15px;
    }
}

@media (width > 840px) {
    .form {
        width: 45%;
    }

    .form .form-header {
        font-size: 20px;
    }

    .choose {
        font-size: 15px;
    }
}

@media (width > 1000px) {
    .form {
        width: 35%;
    }

    .form .form-header {
        font-size: 20px;
    }

    .choose {
        font-size: 15px;
    }
}

